{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.hostname "monolith" }}
{{- if eq .specialsound "y" }}
# Include Defaults
.include /etc/pulse/default.pa

#Load new null Sink for output
load-module module-null-sink sink_name=mic_denoised_out rate=48000

#Load Ladspa sink for librrnoise
load-module module-ladspa-sink sink_name=mic_raw_in sink_master=mic_denoised_out label=noise_suppressor_mono plugin=librnnoise_ladspa.so control=50

#loopback audio from microphone to a sink called mic raw into rrnoise
load-module module-loopback source=alsa_input.usb-Kingston_HyperX_Virtual_Surround_Sound_00000000-00.analog-stereo sink=mic_raw_in channels=1 source_dont_move=true sink_dont_move=true latency_msec=2

# Remap noise monitor to be a source to deal with Chrome's BS
load-module module-remap-source source_name=denoised master=mic_denoised_out.monitor channels=2

#Set default Microphone
set-default-source mic_denoised_out.monitor

#Add Remappable input for OBS
load-module module-remap-sink sink_name=RemappedSink master=alsa_output.usb-Kingston_HyperX_Virtual_Surround_Sound_00000000-00.iec958-stereo channels=2 remix=no

{{- end }}
{{- end }}
{{- end }}
