# This is Git's per-user configuration file.
[user]
name = Ryan Walter
email = {{ .email | lower }}
# signingkey = 

[commit]
gpgsign = false

[format]
signOff = false

[url "ssh://git@github.com/"]
pushInsteadOf = https://github.com/

[alias]
	a = add
	ap = add -p
	amc = am --continue
	b = branch
	bm = branch --merged
	bnm = branch --no-merged
	c = commit
	cl = clonr
	ca = commit --amend
	cane = commit --amend --no-edit
	cf = commit --fixup
	cm = commit --message
	co = checkout
	cob = checkout -b
	com = checkout master
	cp = cherry-pick
	d = diff
	dc = diff --cached
	dom = diff origin/master
	fo = fetch origin
	g = grep --line-number
	mbhom = merge-base HEAD origin/master
	mff = merge --ff-only
	ol = log --pretty=oneline
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(bold magenta)[%G?]%Creset' --abbrev-commit
	p = push
	pf = push --force
  pl = pull
	plrb = pull --rebase --autostash
	r = restore
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	rl = reflog
	riom = rebase --interactive origin/master
	rpo = remote prune origin
	s = status -sb
	ss = commit --message snapshot --no-gpg-sign
	su = submodule update
	wd = diff --patience --word-diff

[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore
	whitespace = trailing-space,space-before-tab

[push]
	autoSetupRemote = true

[merge]
	conflictStyle = zdiff3
{{- if lookPath "delta" }}

[core]
	pager = delta

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection

[interactive]
	diffFilter = delta --color-only
{{- end }}

[includeIf "gitdir:~/src/rwaltr/"]
	path = ~/.config/git/personal

{{/* vim: set filetype=gitconfig: */}}
