### Font
font pango: FuraMono Nerd Font Mono

### Variables
# Logo key. Use Mod1 for Alt.
{{ if eq .chezmoi.hostname "teletran1" -}}
set $mod Mod1
{{ else -}}
set $mod Mod4
{{ end -}}

# Your preferred terminal emulator
set $term alacritty

# Your preferred application launcher
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
set $menu wofi --show drun  
#set $menu dmenu_path | dmenu | xargs swaymsg exec --


# Inhibit Idle if a window is fullscreen
for_window [class="^.*"] inhibit_idle fullscreen
for_window [app_id="^.*"] inhibit_idle fullscreen

# Moves mouse to the newly created window
mouse_warping none

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal
