# Autostart

# Keyring
exec eval $(gnome-keyring-daemon --start)
exec export SSH_AUTH_SOCK

# Autotiling
exec autotiling

# network manager applet
# nm-applet --indicator

# Gammastep
exec gammastep-indicator -l $(curl https://location.services.mozilla.com/v1/geolocate?key=geoclue | jq -r  '.location | join(":")')
