# This is Git's per-user configuration file.
[user]
  name = {{ .name }}
  email = {{ .email }}
	{{ if eq .personal true -}}
  signingkey = 825ADD9150166DA2
  {{ end -}}
	{{ if eq .work true -}}
   # signingkey = 825ADD9150166DA2
  {{ end -}}
[commit]
	{{ if eq .personal true -}}
	gpgsign = true
  {{ end -}}
	{{ if eq .work true -}}
	gpgsign = false
  {{ end -}}

[format]

	signOff = true

[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/
