# This is Git's per-user configuration file.
[user]
  name = {{ .name }}
  email = {{ .email }}
	signingkey = 825ADD9150166DA2

[commit]

	gpgsign = true

[format]

	signOff = true

[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/
