# TODO: Move to .config/git
# This is Git's per-user configuration file.
[user]
name = {{ .name }}
email = {{ .email }}
{{ if eq .personal true -}}
signingkey = 825ADD9150166DA2
{{ else if eq .work true -}}
signingkey = 8730F0808F556599A9AD00A62C510316FB39BF80    
{{ end -}}
[commit]
{{ if (or (eq .personal true) ( eq .work true )) -}}
gpgsign = true
{{ else }}
gpgsign = false
{{ end -}}
[format]
signOff = true
[url "ssh://git@github.com/"]
pushInsteadOf = https://github.com/
{{ if eq .personal true -}}
[alias]
	yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
{{ end -}}	
