{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh


# Install Fedora Packages
{{ if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf config-manager --add-repo \
  https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
sudo dnf update -y
sudo dnf groupupdate core -y
sudo dnf install -y \
git \
wget \
curl \
neovim \
lsd \
jq \
tmux \
starship \
sway \
swayidle \
waybar \
swaylock \
fd-find \
fzf \
jq \
mtr \
https://github.com/cli/cli/releases/download/v2.2.0/gh_2.2.0_linux_amd64.rpm \
kubernetes-client \
terraform \
https://github.com/mozilla/sops/releases/download/v3.7.1/sops-3.7.1-1.x86_64.rpm \
rclone \
pre-commit \
packer \
aria2 \
grim \
grimshot \
azote \
mako

# install helm
curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

# install croc
curl https://getcroc.schollz.com | bash

# install viddy
TMPDIR=$(mktemp -d)
cd $TMPDIR
wget -O viddy.tar.gz https://github.com/sachaos/viddy/releases/download/v0.3.2/viddy_0.3.2_Linux_x86_64.tar.gz && tar xf viddy.tar.gz && sudo mv viddy /usr/local/bin
cd -
rm -rf $TMPDIR
{{- end }}


# TODO Install Termux packages

# Config tools
nvim --headless -c PlugInstall +qall
tmux new-session -d -s tpmgrab 'exit'
{{- end }}
