{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh


# Install Fedora Packages
{{ if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf update -y
sudo dnf groupupdate core -y
sudo dnf install -y git wget curl neovim lsd jq tmux starship 
{{- end }}


# Install Arch Pachages
{{ if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -Syu --noconfirm neovim git curl wget kubelet starship jq curl wget chezmoi k9s gh kubie-bin tmux
{{- end }}
# TODO Install Ubuntu packages
# TODO Install Alpine packages
# TODO Install Termux packages

# Config tools
nvim --headless -c PlugInstall +qall
tmux new-session -d -s tpmgrab 'exit'

{{- end }}
