{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh


# Install Fedora Packages
{{ if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf update -y
sudo dnf groupupdate core -y
sudo dnf install -y \
git \
wget \
curl \
neovim \
lsd \
jq \
tmux \
starship \
sway \
swayidle \
waybar \
swaylock \
fd-find \
fzf 

{{- end }}


{{ if eq .chezmoi.osRelease.id "arch" -}}
# Install Arch Pachages
pacman -Syu --noconfirm neovim git curl wget starship jq curl wget chezmoi k9s tmux
{{- end }}
# TODO Install Termux packages

# Config tools
nvim --headless -c PlugInstall +qall
tmux new-session -d -s tpmgrab 'exit'
{{- end }}
