---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
- type: standard
  ref: v1.3.0 # renovate: depName=aquaproj/aqua-registry

    # TODO: Add renovate ref
packages:
- name: BurntSushi/ripgrep@13.0.0
- name: FiloSottile/age@1.0.0
- name: ahmetb/kubectl-tree@v0.4.1
- name: ahmetb/kubectx@v0.9.4
- name: argoproj/argo-cd@v2.2.5
- name: cheat/cheat@4.2.3
- name: cli/cli@v2.5.1
- name: derailed/k9s@v0.25.18
- name: digitalocean/doctl@v1.70.0
- name: go-task/task@v3.10.0
- name: hashicorp/vault@v1.9.3
- name: helm/helm@v3.8.0
- name: infracost/infracost@v0.9.18
- name: kubernetes-sigs/cluster-api@v1.1.2
- name: kubernetes-sigs/krew@v0.4.3
- name: kubernetes/minikube@v1.25.1
- name: mozilla/sops@v3.7.1
- name: nektos/act@v0.2.25
- name: ogham/dog@v0.1.0
- name: rclone/rclone@v1.57.0
- name: restic/restic@v0.12.1
- name: sachaos/viddy@v0.3.4
- name: sbstp/kubie@v0.16.0
- name: talos-systems/talos@v0.14.2
- name: twpayne/chezmoi@v2.12.0
- name: aquasecurity/trivy@v0.24.0
- name: wagoodman/dive@v0.10.0
