# vi: set ft=yaml
{{- $osid := .chezmoi.os -}}
{{- $osIDLike := ""}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{-   $osIDLike = .chezmoi.osRelease.id }}
{{- end -}}
{{- $email := promptString "Email" -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}
data:
  name: "Ryan Walter"
  email: {{ $email | quote }}
  is:
    personal: false
    work: false
    battlestation: false
    headless: false
  osid: {{ $osid | quote }}
  osidlike: {{ $osIDLike | quote }}
  theme: "rwaltr"
  programs:
    terminal: foot
    editor: nvim
    visual: neovide
    browser: "firefox"
  font:
    gui:
      name: "Lekton Nerd Font"
      size: 12.0
    term:
      name: "Monoid Nerd Font"
      size: 11.0
    title:
      name: "Lekton Nerd Font"
      size: 16.0
  mpd:
    enabled: false
    server: "localhost"
    port: 6600
    timeout: 15
encryption = "age"
gpg:
  recipient: ""
age:
  recipient = "age189npag0lz2hl425ldurk8czrpyv69tg4cgqgzl7wjh60w39sysesazu4u6"
  identity = "~/.config/sops/keys.txt"
