#Custom Envioment Vars
export TF_HTTP_USERNAME={{ .chezmoi.username }}
{{ if eq .personal true -}}
export VAULT_ADDR="https://vault.waltr.tech"
{{ end -}}
export GOPATH=$HOME/.local/share/go
export GOBIN=$HOME/.local/bin
