# vim: ft=toml
# "$schema" = 'https://starship.rs/config-schema.json'
# Do not print newline after prompt
add_newline = false

# format = "$all"
# format = """
# [┌─╴](dimmed white)$shell$username$hostname$sudo$directory$all$status 
# [└](dimmed white)$character
# """

format = """
[┌─](dimmed white)$shell$username$hostname$directory$git_branch$git_status$all
[└](dimmed white)$character
"""
continuation_prompt = "▶▶"

[shell]
fish_indicator = ""
powershell_indicator = ""
bash_indicator = ""
elvish_indicator = "λ"
style = "blue bold"
disabled = false

[fill]
symbol = " "

[hostname]
ssh_only = true
format = "[@](dimmed white)[$hostname]($style) "
style = "blue"
disabled = false

[directory]
truncation_length = 8
truncation_symbol = "…/"
read_only = " "
home_symbol = "  "
disabled = false

[character]
success_symbol = "[>](dimmed white)"
error_symbol = "[>](bold red)"
vicmd_symbol = '[](dimmed white)'
disabled = false

[status]
disabled = false
format = "[$symbol $status]($style) "

[aws]
format = '\[[$symbol($profile)(\($region\))(\[$duration\])]($style)\]'
symbol = " "
disabled = false

[aws.region_aliases]
us-east-1 = "N. Virginia"
us-east-2 = "Ohio"
us-west-1 = "N. California"
us-west-2 = "Oregon"

[cmd_duration]
format = '[ $duration]($style)'
min_time = 5_000
disabled = true

[gcloud]
format = '\[[$symbol$account(@$domain)(\($region\))]($style)\]'
disabled = false

[git_branch]
format = '\[[$symbol$branch]($style)\]'
symbol = " "
disabled = false

[git_status]
format = '([\[$all_status$ahead_behind\]]($style))'
disabled = false

[golang]
format = '\[[$symbol($version)]($style)\]'
symbol = " "
disabled = false

[helm]
format = '\[[$symbol($version)]($style)\]'
symbol = "ﴱ "
disabled = false

[hg_branch]
format = '\[[$symbol$branch]($style)\]'
symbol = " "
disabled = false

[kubernetes]
# format = '\[[$symbol$context( \($namespace\))]($style)\]'
format = '\[[$symbol$context(:$namespace)]($style)\]'
disabled = false

[lua]
format = '\[[$symbol($version)]($style)\]'
disabled = false

[memory_usage]
format = '\[$symbol[$ram( | $swap)]($style)\]'
symbol = " "
disabled = false

[nodejs]
format = '\[[$symbol($version)]($style)\]'
disabled = false



[package]
format = '\[[$symbol$version]($style)\]'
symbol = " "
disabled = false

[perl]
format = '\[[$symbol($version)]($style)\]'
symbol = " "
disabled = false

[php]
format = '\[[$symbol($version)]($style)\]'
symbol = " "
disabled = false

[python]
format = '\[[${symbol}${pyenv_prefix}(${version})(\($virtualenv\))]($style)\]'
symbol = " "
disabled = false

[rust]
format = '\[[$symbol($version)]($style)\]'
symbol = " "
disabled = false


[sudo]
disabled = true
format = '[$symbol]($style)'
symbol = " "
style = "bold red"

[terraform]
format = '\[[$symbol$workspace]($style)\]'
disabled = false

[time]
format = '\[🕙[$time]($style)\]'
disabled = true
time_format = "%T"

[username]
format = '[$user]($style)'
show_always = true
style_user = "purple"
disabled = false

[vagrant]
format = '\[[$symbol($version)]($style)\]'
disabled = false

[shlvl]
symbol = " "
disabled = false

[line_break]
disabled = true

[custom.talos]
disabled = false
command = "yq e '.context' ~/.talos/config"
symbol = "🐦"
style = "red"
shell = ["bash", "--noprofile", "--norc"]
format = '\[[$symbol$output]($style)\]'
when = "test -f ~/.talos/config"

