# "$schema" = 'https://starship.rs/config-schema.json'
# Do not print newline after prompt
add_newline = false


# [custom.talos]
# command = "talosctl config info | head -1 | cut -d: -f2 | xargs"
# when = "command -q talosctl"
# symbol = "🔺"
# style = "red"
# format ='\[[$symbol$output]($style)\]'
# disabled = true

# format = "$all"
format = """
[┌─╴](dimmed white)$shell$username$hostname$sudo$directory$all$status 
[└](dimmed white)$character
"""
continuation_prompt = "▶▶"

[shell]
fish_indicator = ""
powershell_indicator = ""
bash_indicator = ""
style = "blue bold"
disabled = false

[fill]
symbol = " "

[hostname]
ssh_only = false
format = "[@](dimmed white)[$hostname]($style) "
style = "blue"
{{- if eq .osid "android"}}
disabled = true
{{- else }}
disabled = false
{{- end}}

[directory]
truncation_length = 8
truncation_symbol = "…/"
read_only = " "
home_symbol = " "

[character]
success_symbol = "[>](dimmed white)"
error_symbol = "[>](bold red)"
vicmd_symbol = '[](dimmed white)'

[status]
disabled = false
format = "[$symbol $status]($style) "

[aws]
format = '\[[$symbol($profile)(\($region\))(\[$duration\])]($style)\]'
symbol = " "

[aws.region_aliases]
us-east-1 = "N. Virginia"
us-east-2 = "Ohio"
us-west-1 = "N. California"
us-west-2 = "Oregon"

[cmake]
format = '\[[$symbol($version)]($style)\]'

[cmd_duration]
format = '[ $duration]($style)'
min_time = 5_000
disabled = true

[conda]
format = '\[[$symbol$environment]($style)\]'
symbol = " "

[crystal]
format = '\[[$symbol($version)]($style)\]'

[dart]
format = '\[[$symbol($version)]($style)\]'

[deno]
format = '\[[$symbol($version)]($style)\]'

[docker_context]
format = '\[[$symbol$context]($style)\]'
symbol = " "

[dotnet]
format = '\[[$symbol($version)(🎯 $tfm)]($style)\]'

[elixir]
format = '\[[$symbol($version \(OTP $otp_version\))]($style)\]'
symbol = " "

[elm]
format = '\[[$symbol($version)]($style)\]'

[erlang]
format = '\[[$symbol($version)]($style)\]'

[gcloud]
format = '\[[$symbol$account(@$domain)(\($region\))]($style)\]'

[git_branch]
format = '\[[$symbol$branch]($style)\]'
symbol = " "

[git_status]
format = '([\[$all_status$ahead_behind\]]($style))'

[golang]
format = '\[[$symbol($version)]($style)\]'
symbol = " "

[helm]
format = '\[[$symbol($version)]($style)\]'
symbol = "ﴱ "

[hg_branch]
format = '\[[$symbol$branch]($style)\]'
symbol = " "

[java]
format = '\[[$symbol($version)]($style)\]'
symbol = " "

[julia]
format = '\[[$symbol($version)]($style)\]'
symbol = " "

[kotlin]
format = '\[[$symbol($version)]($style)\]'

[kubernetes]
# format = '\[[$symbol$context( \($namespace\))]($style)\]'
format = '\[[$symbol$context(: $namespace)]($style)\]'
disabled = false

[lua]
format = '\[[$symbol($version)]($style)\]'

[memory_usage]
format = '\[$symbol[$ram( | $swap)]($style)\]'
symbol = " "
{{- if eq .osid "android"}}
disabled = true
{{- else }}
disabled = false
{{- end}}

[nim]
format = '\[[$symbol($version)]($style)\]'
symbol = " "

[nix_shell]
format = '\[[$symbol$state( \($name\))]($style)\]'
symbol = " "

[nodejs]
format = '\[[$symbol($version)]($style)\]'

[ocaml]
format = '\[[$symbol($version)(\($switch_indicator$switch_name\))]($style)\]'

[openstack]
format = '\[[$symbol$cloud(\($project\))]($style)\]'

[package]
format = '\[[$symbol$version]($style)\]'
symbol = " "

[perl]
format = '\[[$symbol($version)]($style)\]'
symbol = " "

[php]
format = '\[[$symbol($version)]($style)\]'
symbol = " "

[purescript]
format = '\[[$symbol($version)]($style)\]'

[python]
format = '\[[${symbol}${pyenv_prefix}(${version})(\($virtualenv\))]($style)\]'
symbol = " "

[red]
format = '\[[$symbol($version)]($style)\]'

[ruby]
format = '\[[$symbol($version)]($style)\]'

symbol = " "
[rust]
format = '\[[$symbol($version)]($style)\]'
symbol = " "

[scala]
format = '\[[$symbol($version)]($style)\]'
symbol = " "

[swift]
format = '\[[$symbol($version)]($style)\]'
symbol = "ﯣ "

[sudo]
disabled = false
format = '[$symbol]($style)'
symbol = " "
style = "bold red"

[terraform]
format = '\[[$symbol$workspace]($style)\]'

[time]
format = '\[🕙[$time]($style)\]'
disabled = true
time_format = "%T"

[username]
format = '[$user]($style)'
show_always = true
style_user = "purple"
{{- if eq .osid "android"}}
disabled = true
{{- else }}
disabled = false
{{- end}}

[vagrant]
format = '\[[$symbol($version)]($style)\]'

[vlang]
format = '\[[$symbol($version)]($style)\]'

[zig]
format = '\[[$symbol($version)]($style)\]'

[shlvl]
symbol = " "

[line_break]
disabled = true

[custom.talos]
disabled = false
command = "yq e '.context' ~/.talos/config"
symbol = "🐦"
style = "red"
shell = ["bash", "--noprofile", "--norc"]
format = '\[[$symbol $output]($style)\]'
when = "test -f ~/.talos/config"

