function fish_greeting
    figlet MuAcK | lolcat
    echo "         _.-^~~^^^`~-,_,,~''''''```~,''``~'``~,"
    echo " ______,'  -o  :.  _    .          ;     ,'`,  `."
    echo "(      -\.._,.;;'._ ,(   }        _`_-_,,    `, `,"
    echo " ``~~~~~~'   ((/'((((____/~~~~~~'(,(,___>      `~'"
end
