{{- if eq .chezmoi.os "linux" -}}
#!{{ lookPath "bash" }}

# install helm
curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

# Install krew

(
  set -x; cd "$(mktemp -d)" &&
  OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
  ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
  KREW="krew-${OS}_${ARCH}" &&
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
  tar zxvf "${KREW}.tar.gz" &&
  ./"${KREW}" install krew
)

TMPDIR=$(mktemp -d)
cd $TMPDIR

# Install Kubie
curl -O kubie https://github.com/sbstp/kubie/releases/download/v0.15.3/kubie-linux-{{ .chezmoi.arch }}
mv kubie ~/.local/bin
#Install K9s
curl -sS https://webinstall.dev/k9s | bash

cd -
rm -rf $TMPDIR


{{- end }}
