{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh


# install viddy
TMPDIR=$(mktemp -d)
cd $TMPDIR
{{ if eq .chezmoi.arch "amd64"}}
wget -O viddy.tar.gz https://github.com/sachaos/viddy/releases/download/v0.3.2/viddy_0.3.2_Linux_x86_64.tar.gz && tar xf viddy.tar.gz && sudo mv viddy /usr/local/bin
{{ end }}
cd -
rm -rf $TMPDIR

{{- end }}
