# vi: ft=yaml

{{- $personal := promptBool "Personal?" -}}
{{- if eq $personal true -}}
  {{- $work := false -}}
  {{- $email = "rwaltr@rwalt.pro" -}}
{{- else -}}
  {{- $email = promptString "Email?" -}}
  {{- $work := promptBool "Work?" -}}
{{- end -}}


sourceDir: {{ .chezmoi.sourceDir | quote }}
data:
  name: "Ryan Walter"
  email: {{ $email | quote }}
  is:
    personal: {{ $personal -}}
    work: {{ $work -}}
    battlestation: false
    headless: true
  theme: "rwaltr"
  programs:
    terminal: foot
    editor: nvim
    visual: neovide
    browser: firefox
  font:
    gui:
      name: "Lekton Nerd Font"
      size: 12.0
    term:
      name: "Monoid Nerd Font"
      size: 11.0
    title:
      name: "Lekton Nerd Font"
      size: 16.0
  mpd:
    enabled: false
    server: "localhost"
    port: 6600
    timeout: 15
encryption = "age"
age:
  recipient = "age189npag0lz2hl425ldurk8czrpyv69tg4cgqgzl7wjh60w39sysesazu4u6"
  identity = "~/.config/sops/keys.txt"
