{{- $email := "rwalt@pm.me" -}}
{{/* boolean feature tags */}}
{{- $battlestation := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from BitWarden */}}
{{- $work := false -}}{{/* true if this machine should have work secrets from BitWarden */}}

{{- /* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */ -}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "vagrant" "vscode") -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if not $ephemeral -}}
{{-    if eq $hostname "monolith" -}}
{{-     $headless = false -}}
{{-     $personal = true -}}
{{-     $battlestation = true -}}

{{-   else if eq $hostname "teletran1" -}}
{{-     $headless = false -}}
{{-     $work = true -}}

{{-   else if stdinIsATTY -}}

{{-     if hasKey . "headless" -}}
{{-       $headless = .headless -}}
{{-     else -}}
{{-       $headless = promptBool "headless" -}}
{{-     end -}}

{{-     if hasKey . "personal" -}}
{{-       $personal = .personal -}}
{{-     else -}}
{{-       $personal = promptBool "personal" -}}
{{-     end -}}

{{-     if hasKey . "work" -}}
{{-       $work = .work -}}
{{-     else -}}
{{-       $work = promptBool "work" -}}
{{-     end -}}

{{-     if hasKey . "ephemeral" -}}
{{-       $ephemeral = .ephemeral -}}
{{-     else -}}
{{-       $ephemeral = promptBool "ephemeral" -}}
{{-     end -}}

{{-     if hasKey . "battlestation" -}}
{{-       $battlestation = .battlestation -}}
{{-     else -}}
{{-       $battlestation = promptBool "battlestation" -}}
{{-     end -}}

{{-   else -}}
{{-     $headless = true -}}
{{-     $ephemeral = true -}}
{{-   end -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if ne .personal true -}}
{{- $email = promptString "Email" -}}
{{- end -}}

data:
  name: "Ryan Walter"
  email: {{ $email | quote }}
  personal: {{ $personal }}
  work: {{ $work }}
  battlestation: {{ $battlestation }}
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}
  osid: {{ $osid | quote }}
  theme: "wal"
  programs:
    terminal: alacritty
    editor: nvim
    visual: neovide
  font:
    gui:
      name: "Lekton Nerd Font"
      size: 12.0
    term:
      name: "Monoid Nerd Font"
      size: 11.0
    title:
      name: "Lekton Nerd Font"
      size: 16.0
  mpd:
    enabled: false
    server: "localhost"
    port: 6600
    timeout: 15
gpg:
  {{- if .personal }}
  recipient: "4186BF653F777F6190DAF3C469977470B0541C75"
  {{- end}}
  {{- if .work }}
  recipient: "2F229B60DC918FB2F90C713CA71F460F6224B07B"
  {{- end}}
