# vi: ft=yaml
data:
  name: "Ryan Walter"
  email: rwaltr@rwalt.pro
  is:
    personal: true
    work: false
    battlestation: false
    headless: true
  theme: "rwaltr"
  programs:
    terminal: foot
    editor: nvim
    visual: neovide
    browser: firefox
  font:
    gui:
      name: "Lekton Nerd Font"
      size: 12.0
    term:
      name: "Monoid Nerd Font"
      size: 11.0
    title:
      name: "Lekton Nerd Font"
      size: 16.0
  mpd:
    enabled: false
    server: "localhost"
    port: 6600
    timeout: 15
