# RWALTR Bash Config
# vi: ft=bash
# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# Source modular Bash files
# TODO: move bash.d to shell.d/bash
if [ -d $HOME/.config/bash.d ]; then
  for i in $(ls $HOME/.config/bash.d/*) ;
	do
	  source $i;
	done
fi
