{{ if eq .is.personal true -}}
{{ range (gitHubKeys "rwaltr") -}}
{{ .Key }}
{{ end -}}
{{ end -}}
{{ if eq .is.work true -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDef93mONC+0sM56fl+EBKMDYXZFkWpsIwqDTS5bH57ZreSGu/1wElfFb1jvsBDnrxggInFnz6dPJy1BNzQR1xPcAwz6TejYnP/Pbz5rojnouDrgHQ8p/J0BkMIpS8OkrcX5CpNBEqoO7aWKcD4gbwLO/KDZYaW8xacvGNnZ6JTHL8IzTQNROHJS5DktsD+Zzdagfpe+ZPXJkMOVqldk/ZN37jLI7rKn4tHk6QJ5QlSvozp3pLbBlyfizA+xKxirXk9anPijSk8RbvbDmGGDx6suLl75uwqOkFMEQIexuvSf30HaLV1pW10dgSkwR9A/BVYEqV1OI+g6mEWTA6cqfcp ryanw@yubikey-14819324
{{ end -}}
