[Desktop Entry]
Version=1.0
Type=Application
Name=Teams
Comment=Microsoft Teams (Chrome)
Exec=flatpak run com.google.Chrome --app="https://teams.microsoft.com/"
Icon=
Path=
Terminal=false
StartupNotify=false
