@import "{{ .chezmoi.homeDir }}/.cache/wal/colors-waybar.css";

#window {
  border-radius: 2px;
  border: 2px solid @color4;
  background-color: @background;
}
#input {
  background-color: @background;
  border: 2px solid @foreground;
  padding: 4px;
}

#text {
  color: @foreground;
}

#outer-box {
  padding: 5px;
  margin: 10px;
}

#inner-box {
  padding-top: 10px;
  background-color: @color0;
}

#img {
  margin-right: 5px;
}

#entry:selected {
  background-color: @background;
  /* color: @background; */
  border: 1px solid @color1;
}
#text:selected {
  color: @color9;
}
