[Desktop Entry]
Version=1.0
Type=Application
Name=Discord
Comment=Discord (Chrome)
Exec=flatpak run com.google.ChromeDev --app="https://discord.com"
Icon=
Path=
Terminal=false
StartupNotify=false
