#Custom Environment Vars


# This defines where cd looks for targets
# Add the directories you want to have fast access to, separated by colon
# Ex: CDPATH=".:~:~/projects" will look for targets in the current working directory, in home and in the ~/projects folder
CDPATH=".:~:~/src/rwaltr:~/src/"

export TF_HTTP_USERNAME={{ .chezmoi.username }}
export HISTSIZE=10000
export AQUA_GLOBAL_CONFIG=$HOME/.config/aqua/config.yaml
export AQUA_ROOT_DIR=$HOME/.local/share/aqua

export PATH="${PATH}:$AQUA_ROOT_DIR/bin"

if [ -d ~/.krew/bin ]
	then
		export PATH="${PATH}:${HOME}/.krew/bin"
fi
