{{- if (lookPath "fish") -}}
#!{{ lookPath "fish" }}
{{- if (not (stat (joinPath .chezmoi.homeDir ".config/fish/functions/fisher.fish"))) }}
# https://github.com/twpayne/chezmoi/issues/1306
curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
{{- end }}
# Hash {{- include (joinPath .chezmoi.homeDir ".config/fish/fish_plugins") | sha256sum }}
fisher update
{{- end }}
