# Window boaders
default_border pixel 2
hide_edge_borders smart
default_floating_border normal

# Create only gaps if more then one container
smart_gaps on

# Gaps between containers
gaps inner 4
gaps outer 0
# Gaps between screen edges and containers
gaps left 0
gaps right 0
gaps top 0
gaps bottom 0


# TODO: Switch to Chezmoi logic for templating
include ~/.cache/wal/colors-sway
# class                 border      backgr.     text        indicator   child_border
client.focused          $color6     $background $foreground $color6     $color6
client.focused_inactive $color3     $background $foreground $color3     $color3
client.unfocused        $color2     $background $color1     $color2     $color2
client.urgent           $foreground $background $color7     $foreground $foreground
