{{ if eq .is.battlestation true }}
function battlestationctl
    switch $argv[1]
        case focus
            switch $argv[2]
                case on
                    echo "Focusing 👀"
                    swaymsg 'output "Dell Inc. DELL P2214H KW14V41N249B" disable'
                    swaymsg 'output "Dell Inc. DELL P2214H T0RN665G2R5S" disable'
                    return 0
                case off
                    echo "Unfocusing 😴"
                    swaymsg 'output "Dell Inc. DELL P2214H KW14V41N249B" enable'
                    swaymsg 'output "Dell Inc. DELL P2214H T0RN665G2R5S" enable'
                    return 0
            end
        case brightness
          switch $argv[2]
            case get
              set r (ddcutil getvcp 10)
              echo $r
              return 0
            case set
              ddcutil setvcp 10 $argv[3]
              return 0
        end
    end
    echo "I dont know what that means"
    return 1
end
{{ end }}
