{{- if eq .osid "linux-fedora" -}}
#!{{ lookPath "bash"}}
# Install Fedora Packages
sudo dnf copr enable atim/lazygit -y
sudo dnf copr enable anthr76/golang-to-fedora -y
sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf config-manager --add-repo \
  https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
sudo dnf update -y
sudo dnf groupupdate core -y
sudo dnf install -y \
git \
wget \
curl \
neovim \
python3-neovim \
ripgrep \
lsd \
jq \
tmux \
sway \
swayidle \
codespell \
shfmt \
waybar \
ShellCheck \
swaylock \
fd-find \
fzf \
gitui \
yamllint \
jq \
mtr \
https://github.com/cli/cli/releases/download/v2.2.0/gh_2.2.0_linux_amd64.rpm \
kubernetes-client \
terraform \
https://github.com/mozilla/sops/releases/download/v3.7.1/sops-3.7.1-1.x86_64.rpm \
rclone \
pre-commit \
packer \
aria2 \
https://storage.googleapis.com/minikube/releases/latest/minikube-latest.x86_64.rpm \
grim \
grimshot \
azote \
mako \
lazygit \
gammastep \
mbuffer \
gammastep-indicator \
python3-pip \
python-devel \
libffi-devel


sudo dnf groupinstall -y "C Development Tools and Libraries"


{{- end -}}
{{- if eq .osid "android" -}}
#!{{ lookPath "bash"}}
# TODO: Install Termux packages
pkg update -y
pkg install \
neovim \
python3 \
curl \
wget \
fish \
git 
{{- end -}}
